# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.venv
.env

# Virtual Environment
env/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Uploads and temporary files
uploads/
*.tmp
*.bak

# Logs
*.log

# Model files (if large)
*.model
*.pt

# Dependency directories
node_modules/

# Build artifacts
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Whisper model cache
.cache/whisper/
